<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django and HTMX - WebSockets</title>
    
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>

    <!-- Tailwind and Tailwind-Elements -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>

    {% block head %}

    {% endblock %}
</head>

<body hx-ext="ws" ws-connect="/ws/notifications/">

    {% include 'core/navbar.html' %}

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    <script>
        let numberSpan = document.getElementById('notification-number');

        document.body.addEventListener('htmx:wsAfterMessage', (e) => {
            let numberOfNotifications = numberSpan.innerHTML;
            console.log(numberOfNotifications)
            if (!numberOfNotifications) {
                numberSpan.innerHTML = 1;
            } else {
                numberSpan.innerHTML = parseInt(numberOfNotifications) + 1;                
            }
        });

        let clearBtn = document.getElementById('clear-btn');

        clearBtn.addEventListener('click', (e) => {
            let dropdown = document.getElementById('notification-dropdown');
            let notifications = dropdown.querySelectorAll('div')
            notifications.forEach(notification => notification.remove())
            numberSpan.innerHTML = ''
        });
    </script>
</body>
</html>